---
import Layout from "../layouts/default.astro";
---

<Layout>
    <div
        class="absolute inset-0 flex flex-col justify-center align-center text-center"
    >
        <h1 class="text-8xl font-extrabold">404</h1>
        <span class="text-xl"
            >You have landed on an error in the flask app :(</span
        >
    </div>
</Layout>
